*{
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
}
ul {
  background-color: black;
}
li{
  display: inline-block;
  padding:20px;
  list-style: none;
}
a{
  color:whitesmoke;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color:green;
}
span{
  color:red;
  margin:0px 100px;
}
